<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	<appSettings>
		<clear/>
		<add key="ServiceUrl" value="http://ivao.daitel.net/api/qfe/"/>
		<add key="IcaoCodesToMonitor" value="UUDD,UUEE,UUWW"/>
		<add key="UpdateIntervalInMinutes" value="5"/>
	</appSettings>
</configuration>
